

.navigation {
    margin: 0;
    padding: 0;
    width: 260px;
    background-color: #FFF;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction:column;
    scroll-behavior: unset;
}

::-webkit-scrollbar {
    display: none;
}

.logo{
    height: 100px;
    padding-top: 10px;
    padding-left: 4px;
}

.logo img{
    height: 50px;
    width: 224px;
}

.hello{
    height: 50px;
    padding-left: 10px;
}

.hello i{
    font-size: 20px;
    color: #375E65;
}

.itens{
    border-top: solid 1px #C7D2D4;
    display: block;
    display: flex;
    flex-direction:column;
    border-bottom: solid 1px #C7D2D4;
}

.itens a{
    height: 78px;
    text-decoration: none;
    font-size: 24px;
    color: #375E65;
    transition: ease-in-out .4s;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center; 
}

.itens a:hover{
    background-color: #C7D2D4;
}

.itens a img{
    padding-left: 20px;
}

.itens a span{
    display: flex; 
    padding-left: 10px;
}

.hide {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-bottom: 10px;
    padding-right: 26px;
}

.hide button{
    border: 0px;
    background-color: transparent;
}