.nav {
    margin: 0;
    padding: 0;
    width: 260px;
    background-color: #FFF;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction:column;
    scroll-behavior: unset;
    transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar {
    display: none;
}

.logo {
    padding-left: 4px;
    padding-top: 10px;
    padding-bottom: 36px;
}

.logo img {
    height: 50px;
    width: 224px;
}

.hello {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
}

.hello i {
    font-size: 20px;
    color: #375E65;
}

.hide {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 260px;
    align-self:flex-end;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: solid 1px #C7D2D4;
    background-color: white; 
    display: inline-block;
    text-align:end;
}

.hide img {
    padding: 0px 20px 0px 20px;
    background-color: transparent;
}

.fas {
    cursor: pointer;
}

.menu-icon {
    vertical-align: baseline;
    display: flex;
    flex: none;
    display: none;
    font-size: 24px;
}

.menu-icon .fa-times {
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
}

.menu-icon .fa-bars {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
}

.menu-list {
    list-style-type: none;
    border-top: solid 1px #C7D2D4;
    display: block;
    display: flex;
    flex-direction:column;
    border-bottom: solid 1px #C7D2D4;
}

.menu-list li img {
    padding-left: 20px;
}

.menu-list span {
    display: flex; 
    padding-left: 10px;
}

.menu-list li a{
    height: 78px;
    text-decoration: none;
    font-size: 24px;
    color: #375E65;
    transition: ease-in-out .4s;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center; 
}

.menu-list li a:hover{
    background-color: #C7D2D4;
    transition: all 1s ease-in-out;
}

.menu-list li a.active {
    background-color: #375E65;
    color: #FFF;
}

.menu-list li a.active img{
    /* filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%); */
    filter: brightness(0) invert(1);
    
}

.check{
    display: none;
}

.icone {
    cursor: pointer;
}

.check:checked ~ img{
    display: none;
}

@media (max-width: 400px) {
    .nav {
    margin: 0;
    padding: 0;
    width: 80px;
    background-color: #FFF;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction:column;
    scroll-behavior: unset;
    transition: all 0.2s ease-in-out;
    }

    .hello i{
        display: none;
        transition: all 1s ease-in-out;
        height: 50px;
        
    }
    
    .menu-list span {
        display: none;
        
    }
}
