*{
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
body{
    /* box-sizing: border-box; */
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
}

.app{
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

/*SIDE MENU*/

.side-menu{
    position: fixed;
    background: #fff;
    width: 225px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0px 20px 20px 0px;
    transition: all .2s ease-in-out;
    box-shadow: 0px 2px 5px #B3B3B3;
}


.side-menu.inactive{
    width: 75px;
}

/*LOGO*/

.side-menu .logo{
    padding: 15px 15px;
    
    display: inline-block;
}

/*HELLO*/

.side-menu .hello i{
    padding-left: 15px;
    border: 0;
    outline: none;
    height: 15px;
    display: block;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
    color: #375E65;
    font-size: 16px;
    white-space: nowrap;
}

.side-menu.inactive .hello i{
    opacity: 0;
}

/*MENU ITEM*/

.side-menu .main-menu .menu-item{
    color: #375E65;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.side-menu .main-menu .menu-item.active{
    background-color: #375E65;
    color: #FFF;
}

.side-menu .main-menu{
    border-top: solid 1px #C7D2D4;
    display: block;
    display: flex;
    flex-direction:column;
    border-bottom: solid 1px #C7D2D4;
}

.side-menu .main-menu .menu-item .menu-icon{
    padding-left: 18px;
    display: inline-block;
    width: 40px;
    height: 78px;
    font-size: 20px;
    line-height: 88px;
    text-align: center;
}

.side-menu .main-menu .menu-item .menu-icon svg{
    width: 26px;
    height: 26px;
}

.side-menu .main-menu .menu-item.active polygon{ 
    fill: #fff; 
}

.side-menu .main-menu .menu-item.active rect{  
    stroke: #fff;
}

.side-menu .main-menu .menu-item.active circle{ 
    fill: #375E65; 
}

.side-menu .main-menu .menu-item:not(.active):hover circle {
    fill: #C7D2D4;
    transition: all 0.5s ease-in-out;
}

.side-menu .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 80px;
    font-size: 18px;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-menu .main-menu .menu-item:not(.active):hover {
    background-color: #C7D2D4;
    transition: all 0.5s ease-in-out;
}

/*TOGGLE BUTTON*/

.side-menu .toggle-menu-btn{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 225px;
    align-self:flex-end;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: solid 1px #C7D2D4;
    background-color: #fff;
    display: inline-block;
    text-align:end;
    cursor: pointer;
    border-bottom-right-radius: 20px;
}

.side-menu .toggle-menu-btn:hover{
    background-color: #C7D2D4;
    transition: all 0.5s ease-in-out;
}

.side-menu.inactive .toggle-menu-btn img{
    padding-right: 29px;
}

.side-menu .toggle-menu-btn img{
    padding-right: 20px;
}

/*CONTAINER*/

.container{
    width: 100vw;
    height: 100vh;
    margin-left: 245px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    position: fixed;
    display: inline-block;
}

.container.inactive{
    margin-left: 95px;
}

/*FILTRO POSSO CRIAR UM CSS SEPARADO DEPOIS*/

.container .filtro {
    margin-right: 20px;
    height: 90px;
    padding: 15px;
    font-size: 18px;
    background-color: #375E65;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 2px 5px #B3B3B3;
    color: #FFF;
}

.container .filtro img{
    width: 20px;
    filter: brightness(0) invert(1) ;
}

.container .filtro .campos{
    font-size: 16px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.campos div{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/*CONTENT*/

.content{
    width: 1675px;
    height: 809px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: fixed;
}
.container.inactive .content{
    width: 1825px;
}

.content-top{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.barc{
    background-color: #FFF;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 5px #B3B3B3;
}

.labelc {
    background-color: #FFF;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 2px 5px #B3B3B3;
}

.valor{
    font-size: 26px;
}

.medida{
    font-size: 10px;
}

.twoinone{
    width: 32.2%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.content-bottom{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-top: 20px;
}

.lc{
    width: 70%;
    margin-right: 20px;
}

.t{
    margin-right: 20px;
    width: 30%;
}

.linec{
    background-color: #FFF;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 5px #B3B3B3;
}

.tablec{
    background-color: #FFF;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 2px 5px #B3B3B3;
    height: 344.5px;
}

.tablec div{
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    
    text-align: left;
    border-collapse: collapse; 
    background-color: #FFF;
    font-size: 14px;
    width: 400px;
    border: 2px solid #375E65;
  }

  td, th {
    border-bottom: 2px solid #375E65;
    padding: 10px;
  }

  th {
    background: #375E65;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    color: white;
    padding: 10px;
  }
    