*{
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
body{
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/*SIDE MENU*/

.side-menu{
    position: fixed;
    background: #fff;
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 0px 20px 20px 0px;
    transition: all .2s ease-in-out;
    box-shadow: 0px 2px 5px rgb(160, 160, 160);
}

.side-menu.inactive{
    width: 100px;
}

/*LOGO*/

.side-menu .logo{
    padding: 20px 20px;
    overflow: hidden;
    display: inline-block;
}

/*HELLO*/

.side-menu .hello i{
    padding-left: 20px;
    border: 0;
    outline: none;
    height: 35px;
    display: block;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
    color: #375E65;
    font-size: 18px;
    white-space: nowrap;
}

.side-menu.inactive .hello i{
    opacity: 0;
}

/*MENU ITEM*/

.side-menu .main-menu .menu-item{
    color: #375E65;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 500;
    cursor: pointer;
}

.side-menu .main-menu .menu-item.active{
    background-color: #375E65;
    color: #FFF;
}

.side-menu .main-menu{
    border-top: solid 1px #C7D2D4;
    display: block;
    display: flex;
    flex-direction:column;
    border-bottom: solid 1px #C7D2D4;
}

.side-menu .main-menu .menu-item .menu-icon{
    padding-left: 30px;
    display: inline-block;
    width: 40px;
    height: 78px;
    font-size: 20px;
    line-height: 88px;
    text-align: center;
}

.side-menu .main-menu .menu-item.active polygon{ 
    fill: #fff; 
}

.side-menu .main-menu .menu-item.active rect{  
    stroke: #fff;
}

.side-menu .main-menu .menu-item.active circle{ 
    fill: #375E65; 
}

.side-menu .main-menu .menu-item:not(.active):hover circle {
    fill: #C7D2D4;
    transition: all 0.5s ease-in-out;
}

.side-menu .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 80px;
    font-size: 24px;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.side-menu .main-menu .sub-menu{
    color: #375E65;
    margin-left: 50px;
    border-left: 1px solid #375E65;
    box-sizing: border-box;
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in;
}

.side-menu .main-menu .menu-item:not(.active):hover {
    background-color: #C7D2D4;
    transition: all 0.5s ease-in-out;
}

/*TOGGLE BUTTON*/

.side-menu .toggle-menu-btn{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 300px;
    align-self:flex-end;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: solid 1px #C7D2D4;
    background-color: #fff;
    display: inline-block;
    text-align:end;
    cursor: pointer;
    border-bottom-right-radius: 20px;
}

.side-menu .toggle-menu-btn:hover{
    background-color: #C7D2D4;
    transition: all 0.5s ease-in-out;
}

.side-menu.inactive .toggle-menu-btn img{
    padding-right: 40px;
}

.side-menu .toggle-menu-btn img{
    padding-right: 20px;
}

/*CONTAINER*/

.container{
    margin-left: 320px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    margin-right: 20px;
}

.container.inactive{
    margin-left: 120px;
    
}

/*FILTRO POSSO CRIAR UM CSS SEPARADO DEPOIS*/

.container .filtro{
    padding: 15px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 20px;
    height: 80px;
}

.container .filtro img{
    width: 24px;
}

.container .filtro .campos{
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.title{
    padding: 5px;
}

.input{
    padding: 5px;
}